.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-color);

    padding: 0 2.5rem;
    height: var(--header-height);
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.companyName {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2%;

    margin: 0;

    cursor: default;
}

.navButtonsContainer {
    display: flex;
    align-items: center;

    list-style: none;
}

.navButtonsContainer li {
    margin-left: 1rem;
}